* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

#app {
  font-family: "Roboto Condensed", sans-serif;
}

.white {
  background-color: white;
}

.txt-white {
  color: white;
}

.black {
  background-color: black;
}

.txt-black {
  color: black;
}

.dc-blue {
  background-color: #0282f9;
}

.dc-txt-blue {
  color: #0282f9;
}

.dc-darkgrey {
  background-color: #303030;
}

.dc-txt-darkgrey {
  color: #303030;
}

.dc-mediumgrey {
  background-color: #797979;
}

.dc-txt-mediumgrey {
  color: #797979;
}

.bg {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.fx {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col50 {
  width: 50%;
}

.col-sixth {
  width: 16.6666666667%;
}

.ai-center {
  align-items: center;
}

.jc-center {
  justify-content: center;
}

.jc-between {
  justify-content: space-between;
}

.ji-center {
  justify-items: center;
}

#logo-dc {
  width: 100px;
  padding: 5px;
}

nav {
  text-align: end;
  position: relative;
  top: 4px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 45px 10px;
}

nav ul li.active {
  border-bottom: 4px solid #0282f9;
}

nav ul li.active a {
  color: #0282f9;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: smaller;
  font-weight: bold;
}

nav ul li a:hover {
  color: #0282f9;
}

.jumbotron img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  position: relative;
  top: 4px;
}

section.bg .btn {
  padding: 20px;
  text-align: start;
  position: relative;
  bottom: 20px;
  z-index: 30;
}

section.bg .btn div h3 {
  text-align: start;
}

section.bg .comic-card {
  padding: 10px;
}

section.bg .comic-card .card-img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  margin: 5px;
}

.obj {
  width: 20%;
  padding: 40px 0;
}

section.bg {
  background: url("/img/dc-logo-bg.png") right no-repeat, url("/img/footer-bg.jpg");
}

footer {
  padding: 30px 0;
}

.btn {
  padding: 10px;
  border: 2px solid #0282f9;
}

.icon {
  padding: 10px;
  color: #797979;
}

